body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background:rgb(241, 237, 234)
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.paintB{
  background:rgb(0, 0, 0)
}

.square:focus {
  outline: none;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue0 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  border: 3px double #811616;
  background: #728b88;
  letter-spacing: 6px;
}

.clue1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  border: 2px double #12eb1d;
  background: #a0c9a3;
  letter-spacing: 6px;
}



.clue div0 {
  margin: 2px
}
.clue div1 {
  margin: 2px
}

.colClues .clue0 {
  flex-direction: column;
}
.colClues .clue1 {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.box{
  
  text-decoration: none;
    height: 40px;
    width: 60px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #000000;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
}
.switchfalse{
  text-decoration: none;
  height: 40px;
  width: 150px;
  font-family: arial;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  background-color: #616962;
  border-radius: 15px;
  border: 3px double #692621;
  position: relative;
}
.switchtrue{
  text-decoration: none;
  height: 40px;
  width: 150px;
  font-family: arial;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  background-color: #208b2e;
  border-radius: 15px;
  border: 3px double #646d12;
  position: relative;
}

.switchGfalse{
  text-decoration: none;
  height: 40px;
  width: 150px;
  font-family: arial;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  background-color: #616962;
  border-radius: 15px;
  border: 3px double #692621;
  position: relative;
  bottom: -45px;
  right: 83px;
}
.switchGtrue{
  text-decoration: none;
  height: 40px;
  width: 150px;
  font-family: arial;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  background-color: #208b2e;
  border-radius: 15px;
  border: 3px double #646d12;
  position: relative;
  bottom: -45px;
  right: 83px;

}

.Victoria{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5px;
  background: lightskyblue;
  
}

